# Python caches and virtual environments
__pycache__/
*.py[cod]
*.h5
*.onnx
*.pt
*.pth

admin_panel/backend/__pycache__/
.venv
ai_inference/__pycache__/

# Credentials and secrets
admin_panel/lipreadapp-441dd04e8b92.json
google-services.json

# Flutter / Dart / tooling
*.env
*.class
*.log
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.iml
*.ipr
*.iws
.idea/
#.vscode/

# Flutter caches and outputs
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.pub-cache/
flutter_app/.pub/
flutter_app/build/
flutter_app/**/doc/api/
flutter_app/**/ios/Flutter/.last_build_id
flutter_app/app.*.symbols
flutter_app/app.*.map.json
flutter_app/android/app/debug
flutter_app/android/app/profile
flutter_app/android/app/release

# Android specific
flutter_app/android/gradle-wrapper.jar
flutter_app/android/.gradle/
flutter_app/android/captures/
flutter_app/android/gradlew
flutter_app/android/gradlew.bat
flutter_app/android/local.properties
flutter_app/android/GeneratedPluginRegistrant.java
flutter_app/android/.cxx/
flutter_app/android/key.properties
flutter_app/android/**/*.keystore
flutter_app/android/**/*.jks

# iOS specific
flutter_app/ios/**/dgph
flutter_app/ios/**/*.mode1v3
flutter_app/ios/**/*.mode2v3
flutter_app/ios/**/*.moved-aside
flutter_app/ios/**/*.pbxuser
flutter_app/ios/**/*.perspectivev3
flutter_app/ios/**/*sync/
flutter_app/ios/.sconsign.dblite
flutter_app/ios/.tags*
flutter_app/ios/**/.vagrant/
flutter_app/ios/**/DerivedData/
flutter_app/ios/Icon?
flutter_app/ios/**/Pods/
flutter_app/ios/**/.symlinks/
flutter_app/ios/profile
flutter_app/ios/xcuserdata
flutter_app/ios/**/.generated/
flutter_app/ios/Flutter/App.framework
flutter_app/ios/Flutter/Flutter.framework
flutter_app/ios/Flutter/Flutter.podspec
flutter_app/ios/Flutter/Generated.xcconfig
flutter_app/ios/Flutter/ephemeral/
flutter_app/ios/Flutter/app.flx
flutter_app/ios/Flutter/app.zip
flutter_app/ios/Flutter/flutter_assets/
flutter_app/ios/Flutter/flutter_export_environment.sh
flutter_app/ios/ServiceDefinitions.json
flutter_app/ios/Runner/GeneratedPluginRegistrant.*

# macOS specific
flutter_app/macos/**/Flutter/ephemeral/
flutter_app/macos/**/Pods/
flutter_app/macos/**/dgph
flutter_app/macos/**/xcuserdata/

# Windows specific
flutter_app/windows/flutter/ephemeral/
flutter_app/windows/*.suo
flutter_app/windows/*.user
flutter_app/windows/*.userosscache
flutter_app/windows/*.sln.docstates
flutter_app/windows/x64/
flutter_app/windows/x86/
flutter_app/windows/*.[Cc]ache
!flutter_app/windows/*.[Cc]ache/

# Linux specific
flutter_app/linux/flutter/ephemeral